<section id="about-me">
  <h2>About Me</h2>
  <p>
    3rd year Computer Systems Engineering student at the University of El
    Salvador.
  </p>
  <p>
    Passionate about exploring new technologies, solving complex problems, and
    playing piano in my free time.
  </p>
</section>

<style>
  section {
    margin: 3rem 1rem;
    scroll-margin-top: 4rem;
  }

  h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1.8rem;
  }

  p {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
  }
</style>
