---
import ContactForm from "./ContactForm.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
import Twitter from "./icons/Twitter.astro";
---

<section>
  <h2>Contact</h2>
  <p>You can contact me through my social networks:</p>
  <div>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://twitter.com/barrazafredi"
    >
      Twitter
      <Twitter />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.linkedin.com/in/fredibarraza"
    >
      LinkedIn
      <LinkedIn />
    </a>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="mailto:me@fredibarraza.com"
    >
      Email
      <Mail />
    </a>
  </div>
  <p>Or if you prefer, trough the contact form below:</p>
  <ContactForm />
</section>

<style>
  section {
    margin: 3rem 1rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 1.8rem;
  }

  div {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    margin-top: 0.7rem;
  }

  div a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.5rem;
    color: #000;
  }

  div a:hover {
    outline: 0.1rem solid #000;
  }

  p {
    margin-top: 1rem;
  }
</style>
