---
import { getTranslations } from "../helpers/getTranslations";

const { footer: footerTranslation } = getTranslations(Astro);
const { madeBy: madeByTranslation } = footerTranslation;
---

<footer class="footer">
  <p>{madeByTranslation}</p>
</footer>

<style>
  footer {
    text-align: center;
    padding: 0.8rem 1rem;
    background-color: #fff;
    border-top: 0.1rem solid #ccc;
  }

  p {
    margin: 0;
    font-size: 0.9rem;
    color: #000;
  }
</style>
