<section id="hero">
  <h1>Fredi Barraza</h1>
  <p class="title">Computer Systems Engineering Student</p>
  <p class="description">Love creating awesome things!</p>
</section>

<style>
  section {
    margin: 3rem 1rem;
  }

  h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 1rem;
    text-align: center;
  }

  .title {
    margin-top: 0.6rem;
    font-style: italic;
  }

  .description {
    margin-top: 1.5rem;
  }
</style>
